# Ignore node_modules folder
node_modules/

# Ignore Python cache files
__pycache__/

# Ignore Jupyter Notebook checkpoints   
.ipynb_checkpoints/

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore environment files
.env
my-venv/

# Ignore build directories
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.iml

# Ignore Django files
sqlite3
*.sqlite3
notebooks/.ipynb_checkpoints
*migrations/