Django>=4.0
requests
pandas
notebook
BeautifulSoup4
blinker==1.7.0
selenium-wire
selenium
openpyxl
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
fuzzywuzzy
python-Levenshtein
matplotlib
unidecode
dotenv